#cuenta {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 10px 40px 10px;
    grid-gap: 2px;
    .simply-section {
        display:grid;
        justify-content:center;
        .simply-amount {
            display:block;
            font-size: 23px;
            text-align: center;
            width:70px;
            height: 70px;
            border-radius: 70px;
            border: solid 1.5px #e6e6e6;
            line-height: 70px;
            margin-bottom:20px;
            font-family:serif;
        }
        .simply-word {
            font-family: 'Josefin Sans', sans-serif;
            color: rgb(154, 160, 166);
            font-size: 10px;
            letter-spacing: 2px;
            text-align: center;
            display:block;
        }
    }
}