.cont-invitado{
    padding:40px 20px;
    .h2-invitado,p{
        text-align:center;
    }
    .h2-invitado{
        font-family: 'Great Vibes', cursive;
        font-size:50px;
        color:#404a4a;
    }
    p{
        color:rgb(154, 160, 166);
    }
}