.principal{
    position: relative;
    .nav-icono{
        position: absolute;
        top:0;
        left:0;
        padding:30px;
        i{
            font-size:20px;
            color:#fff;
            cursor:pointer;
        }
    }
}