@media screen and(max-width:776px) {
    header {
        .cont-fixed {
            nav {
                top: 30px;
            }
        }
    }
    .informativos {
        grid-template-columns: 1fr;
    }
    .cont-secciones {
        .secc {
            border:none;
            position: relative;
            &.secc-ubicacion {
                margin-bottom: 400px;
            }
            &.secc-mesa-de-regalos {
                margin-bottom: 450px;
            }
            &.secc-hospedaje {
                margin-bottom: 430px;
            }
            &.secc-recomendaciones {
                margin-bottom: 280px;
            }
            .cont-secc {
                position: absolute;
                top: 50%;
                left:0;
                border-radius:300px 300px 0 0;
                width: 100%;
                &.cont-secc-recomendaciones{
                    padding:0;
                    .des-vertical{
                        padding:5px 0 5px 20px;
                    }
                }
                .h2-recomendaciones {
                    font-size: 22px !important;
                    padding: 100px 0 70px 0;
                    border:solid 2px red,
                }
                h2 {
                    padding: 100px 30px 70px 30px;
                    margin-bottom: 20px;
                    &:after{
                        content:"";
                        display:block;
                        position:absolute;
                        width:15%;
                        left:42.5%;
                        bottom:20%;
                        height: 2px;
                        background: #404a4a;
                    }
                }
            }
        }
    }
    .secc-rsvp {
        height: 800px;
        .cont-contenido-rsvp {
            form {
                grid-template-columns: 1fr;
                .rsvpcolumna-4{
                    button{
                        margin-top:8px;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:332px){
    .principal{
        height: 45vh;
    }
}
