@media screen and(max-width:776px) {
    header {
        .cont-fixed {
            nav {
                top: 30px;
            }
        }
    }
    .informativos {
        grid-template-columns: 1fr;
    }
    .cont-secciones {
        overflow:hidden;
        .secc {
            position: relative;
            &.secc-ubicacion {
                margin-bottom: 400px;
            }
            &.secc-mesa-de-regalos {
                margin-bottom: 450px;
            }
            &.secc-hospedaje {
                margin-bottom: 400px;
            }
            &.secc-recomendaciones {
                margin-bottom: 280px;
            }
            .cont-secc {
                position: absolute;
                top: 50%;
                left:0;
                border-radius:300px 300px 0 0;
                width: 100%;
                &.cont-secc-recomendaciones{
                    padding-right:0;
                }
                // &.cont-secc-ubicacion{
                //     padding:0;
                // }
                .h2-recomendaciones {
                    font-size: 22px !important;
                    padding: 100px 0 70px 0;
                }
                h2 {
                    padding: 100px 30px 70px 30px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .secc-rsvp {
        height: 800px;
        .cont-contenido-rsvp {
            form {
                grid-template-columns: 1fr;
                .rsvpcolumna-4{
                    button{
                        margin-top:8px;
                    }
                }
            }
        }
    }
}
@media screen and(max-width:332px){
    .principal{
        height: 45vh;
    }
}
